@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    height: 100vh;
    padding: 0.1rem;
    background-color: #ffffff;
    text-align: center;
}
.nav{
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
    align-items: center;
    padding: 1rem;
    margin: 0 auto;
}