*{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

a{
    color: black;
    font-weight: 550;
    text-decoration: none;
}
.heading{
    display: flex;
    justify-content: center;
    font-size: 22px;
    font-weight: 600;
    color: white;
    background-color: #8BC6EC;
    background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
    padding: 20px;
}
header{
    height: 60px;
    background-color: #806BDC;
    text-align: center;
}

.NavBar{
    padding-top: 14px;
    padding-left: 40px;
    padding-right: 60px;
    display: flex;
    justify-content: space-between;
}
.NavBar-right{
    padding-top: 4px;
    display: flex;
    flex-direction: column;
}
.NavBar-right ul{
    display: inline-flex;
    gap: 40px;
    color: rgb(237, 231, 231);
}
.NavBar-right ul li a{
    color: rgb(237, 231, 231);
    text-decoration: none;
}
.NavBar-right ul li{
    display: flex;
    align-items: center;
}
.NavBar-right ul li img{
    height: 30px;
    width: 35px;
}
#navbar-title{
    color: white;
    font-size: 25px;
}

.Items{
    padding-top: 15px;
    padding-bottom: 15px;
}

#item-table{
    width: 100%;
    text-align: center;
}

.Item-img{
    height: 64px;
}

.Item-tag{
    font-size: 14px;
}

.Item-tag:hover{
    color: #806BDC;
}

.Shopping-container{
    background-color: lightgrey;
    text-align: center;
    padding-bottom: 30px;
}

#shopping-time-img{
    margin-top: 30px;
    width: 90vw;
    height: 60vh;
}

.Sales-table{
    width: 90vw;
    margin: auto;
    border: 1px solid grey;
    border-collapse: collapse;
    padding: 12px;
}

.Sales-table-head{
    background-color: #806BDC;
}

.Information{
    width: 92vw;
    margin: 20px;
    font-size: 13px;
    color: #878787;
    list-style-position: inside;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    height: 50px;
    padding-top: 28px;
}

footer a {
    color: #ccc;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}